@page "/"

<PageTitle>Index</PageTitle>

<div class="intro">
    <img src="/IconoInventoriEats.png" alt="Inventori Eats" style="max-width: 160px; display: inline-block; margin-right: 10px;">
    <h1 style="display: inline-block;">Economato Inventory</h1>

    <p>Una aplicación web que te ayuda a gestionar tu inventario de alimentos.</p>
    <p>Realiza un seguimiento de los productos en tu inventario, crea, edita y consulta los productos.</p>
</div>



<style>
    .intro {
        background-color: #fff;
        padding: 20px;
    }

    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    p {
        font-size: 1.5em;
    }

    img {
        width: 50%;
    }
</style>

